body {
    width: 100%;
    
    background-image: url('image/bg-netflix.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

footer {
    background-color: #000000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: white;
}

header {
    padding: 20px;
}

#logo-netflix img {
    width: 235px;
    margin-top: -38px;
    margin-left: 8%;
    
}

#caixa-transparente {
    background-color: rgba(0, 0, 0, 0.58);
    width: 450px;
    height: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

#caixa-transparente h1 {
    color: white;
    margin-left: -230px;
}

#caixa-transparente h5 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

#caixa-transparente h1 {
    font-weight: 600;
    margin-top: 12%;
}

#caixa-transparente h5 {
    margin: -1px;
}

#footer {
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    gap: 5px;
    margin-top: 260px;
    margin-left: 60px;
}


.email,
.senha {
    margin: auto;
    background-color: #161616b3;
    border-color: rgba(0, 0, 0, 0.67);
    border-radius: 3px;
    width: 300px;
    height: 55px;
    color: white;
    border: 1px solid white;
    padding-left: 15px;
}

input.email::placeholder, input.senha::placeholder {
    color: #888;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

input.email:focus, input.senha:focus {
    outline: red;
    border-color: #e50914;
    background-color: #444;
}

.btn-login {
    width: 310px;
    height: 40px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
}

.btn-acess-code {
    width: 310px;
    height: 40px;
    background-color: rgba(105, 105, 105, 0.47);
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: bold;
}

.forgot-password {
    color: white;
    text-decoration: none;
}

.checkbox {
    color: white;
    font-weight: 100;
    margin-left: -120px;
}

.checkbox a {
    text-decoration: none;
    color: white;
}

input[type="checkbox"] {
    transform: scale(1.5);
}

.copyright {
    color: white;
    font-weight: 100;
    font-size: 13px;
    width: 70%;
    margin-bottom: 15%;
}

.copyright span {
    color: #0071EB;
}

.container {
    background-color: #000000;
    color: white;
    margin-left: -6px;
    margin-top: 140px;
}


.novoAqui {
    color: #8c8c8c;
}


.texto-rodape {
    font-size: 16px;
    color: #8c8c8c;
    
}

.texto-footer {
    font-size: 14px;
    color: #8c8c8c;
    margin-top: 46px;
    justify-content: space-between;
    max-width: 40%;
    margin: auto;
    margin-left: 100px;
    text-align: left;

}
.footer {
    font-size: 14px;
    color: #8c8c8c;
    text-align: left;
}

.duvidas {
    margin-top: -40px;
    margin: auto;
}
.legenda {
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#formacao {
    background-color: #3333333f;
    color: #ffffff;
    background: url('image/legenda.png') no-repeat scroll left center;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    width: 65%;
    display: flex;
    align-items: center;
    gap: 10px;
    background-size: 20px 20px;
    text-align: center;
}

#formacao option {
    background-color: #333;
    color: #ffffff;
}
