body {
    margin: 0;
    padding: 0; /*margem*/
    width: 100%;
    height: 100vh;
    display: flex;/*coloca na propriedade que for usar o flexbox*/
    justify-content: center;
    align-items: center;
    background-image: url('img/2641159.gif');

    /*propriedades do flex-box =
    justify-content centraliza conteudo no meio da tela em cima
    align-itens center centraliza no meio da tela

    vh se adapta ao monitor da pessoa
    % pode variar com a resolução
    px tamanho fixo
    */
}

/*nome da classe slider que é uma div*/
.slider {
    margin: 0 auto; /*margem geral 0 é do topo e o auto é da esquerda para a direita*/
    width: 800px;  /*largura*/
    height: 600px; /*altura*/
    overflow: hidden; /*Não se sobrepor a outro objeto*/
}

/*contem os inputs e as imagens*/
.slides {
    width: 400%;
    height: 400px;
    display: flex; /*flexibilidade da tela*/
}

/*div das imagens*/
.slide{
    width: 30%; /*largura*/
    margin: 0 20px;
    position: relative;/*mantem o mesmo espaço mas se posiciona na tela de acordo com a posição*/
    transition: 2s;
    
    
}


/*manipulando o tamanho das imagens*/
.slide img {
    width: 800px;
    height: 450px;
}

/*referente as bolinhas manuais*/

.slides input {
    display: none; /*esconde o elemento na tela*/
}

.manual-navigation {
    position: absolute; /*ela fica fixa na tela independente do scroll*/
    width: 800px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.btn-manual {
    border: 2px solid rgb(8,8,8);
    padding: 6px;
    border-radius: 10px;
    cursor: grab;
    transition: 0.5s;
}

.btn-manual:not(:last-child) {
    margin-right: 10px;
}

.btn-manual:hover {
    background-color: red;
}

#radio1:checked ~ .primeiro {
    margin-left: 0;
}

#radio2:checked ~ .primeiro {
    margin-left: -26%;
}

#radio3:checked ~ .primeiro {
    margin-left: -61%;
}

#radio4:checked ~ .primeiro {
    margin-left: -91%;
}

#radio5:checked ~ .primeiro {
    margin-left: -124%;
}


/*manipulando as bolas automáticas*/
.navigation-auto div{
    border: 2px solid #0c0c0c;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 480px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 10px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #0c0c0c;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #0c0c0c;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #0c0c0c;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #0c0c0c;
}
#radio5:checked ~ .navigation-auto .auto-btn5 {
    background-color: #0c0c0c;
}


