body {
    min-height: 100vh;
    max-width: 100%;
    background-color: #141414;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    overflow-x: hidden; /* Impede a rolagem horizontal */
}


.mainha {
    overflow: hidden;
}

.nav-barEVideo {
    position: relative;
}

.opcoes {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 20%;
    gap: 20px;
    top: 2px;
}

.barra-informacoes {
    position: absolute;
    display: flex;
    top: 40%;
    left: 2%;
}

.nome-filme {
    display: flex;
    position: absolute;
    color:#DEDEDE;
    font-weight: 15px;
    left: 35px;
    justify-content: space-between;
    letter-spacing: 5px;
    top: -14px;
}

.titulo-trailer img{
    display: flex;
    position: absolute;
    top: 45%;
    width: 500px;
    left: 20px;
}

.informacoes-filme img {
    width:30px;
}

.opcoes h4{
    color: #FFFFFF;
    font-size: 15px;

}

.assitir{
    display: flex;
    position: absolute;
    gap: 10px;
    top: 70%;
    width: 150px;
    height:40px;
    left: 5%;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
}

.mais-infor {
    display: flex;
    position: absolute;
    gap: 10px;
    color: white;
    top: 70%;
    width: 200px;
    height:40px;
    left: 15.5%;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color:#545455;
}

.btn-assitir {
    width: 200px;
}

.btn-mais-infor {

}

.opcoes h4:hover {
    color: #7f7e7ece;
    cursor: pointer;
    transition: 0.5s;
}

nav {
    position: absolute; /* Posiciona o nav no topo do contêiner */
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; 
    z-index: 10;
}

.logo img {
    width: 14%;
    margin-top: -2%;
}

.slides {
    align-content: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
    gap: 10px;
}

.slides img {
    width: 230px;
    border-radius: 5px;
}




#trailer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}


#custom-controls {
    display: flex;
    justify-content: center;   
}

#muteUnmute {
    margin-top: -12%;
}

.slider {
    width: 100%;
    left: 0;
    overflow: hidden;
}

.slider1 {
    display: flex;
    position: absolute;
    top: 160%;
    width: 100%;
    overflow: hidden;
}

.slider2 {
    display: flex;
    position: absolute;
    top: 190%;
    width: 100%;
    overflow: hidden;
}

.sugestoes {
    display: flex;
    position: absolute;
    color: #E5E5E5;
    left: 30px;
    top: 150%;
    z-index: 10;
    
    h3 {
        font-size: 25px;
    }
}

.continuar-assistindo {
    display: flex;
    position: absolute;
    color:#E5E5E5;
    top: 180%;
    left: 40px;
    z-index: 10;
}

.esquerda {
    left: 0%;
}

.direita {
    right: 20px;
}
.seta {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    height: 160px;
}

.esquerda:hover, .direita:hover {
    background-color: hsla(0, 0%, 8%, .5);
}

/**/
.tops {
    display: flex;
    padding-left: 5%;
    width: 100%;
    position: absolute;
    top: 115%;
    overflow: hidden;

    
}

.top-texto {
    position: absolute;
    left: -35%;
    font-size: 280px;
    top: -35%;
}

.top8-texto {
    h2 {
        display: flex;
        position: absolute;
        top: 105%;
        left: 40px;
        color: white;
    }
}

.top1, .top2, .top3, .top4, .top5, .top6, .top7, .top8 {
    font-size: 280px;
    right: 1%;
    display: flex;
    position: relative;
    top: -240px;
    
    h1 {
        border: 2px solid white;
        display: inline;
    }
    
}

#top1 img, #top2 img, #top3 img, #top4 img, #top5 img, #top6 img, #top7 img, #top8 img{
    height: 200px;
    position: relative;
    left:45%;
    z-index: 2; 
}

#top1, #top2, #top3, #top4, #top5, #top6, #top7, #top8 {
    display: flex;
    position: relative;
    width: 700px;
    left: -10%;
    z-index: 1; 
    h1 {
        position: relative;
        display: inline;
    }
    
}

h1 {
    border-radius: 0%;
    -webkit-text-stroke-color: #666464;
    -webkit-text-stroke-width: 5px;
}


.div-direita {
    display: flex;
    top: 0;
    width: 50px;
    position: absolute;
    z-index: 3;
    gap: 15px;
    padding-left:115%;
    color: white;

}

.div-direita img {
    width: 50px;
}

p {
    position: absolute;
    color: white;
    top: 70%;
    left: 35px;
}

.slides img {

}


footer {
    background-color: #000000;
    width: 100%;
    position: absolute;
    top: 200%;
    padding: 20px 0;
    text-align: center;
    color: white;
}



.texto-rodape {
    font-size: 16px;
    color: #8c8c8c;
    
}

.texto-footer {
    font-size: 14px;
    color: #8c8c8c;
    margin-top: 46px;
    justify-content: space-between;
    max-width: 40%;
    margin: auto;
    margin-left: 100px;
    text-align: left;

}
.footer {
    font-size: 14px;
    color: #8c8c8c;
    text-align: left;
}

.duvidas {
    margin-top: -40px;
    margin: auto;
}
.legenda {
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}


#formacao {
    background-color: #3333333f;
    color: #ffffff;
    background: url('image/legenda.png') no-repeat scroll left center;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    width: 65%;
    display: flex;
    align-items: center;
    gap: 10px;
    background-size: 20px 20px;
    text-align: center;
}

#formacao option {
    background-color: #545455;
    color: #ffffff;
}
